---
import Layout from "../layouts/Layout.astro";
---

<Layout>

	<div class="flex items-center justify-around">
		<div class="bg-black w-30 h-30 rounded-full"/>
		<span class="text-3xl font-bold text-center">Hi, I am <span class="text-amber-500">José Ixcamparij</span></span>
	</div>

</Layout>
