---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";

const projects = await getCollection("projects");

---

<Layout>
    <h1>Proyectos</h1>

    
  {
    projects.map((p) => (
      <div>
        <h2>{p.data.title}</h2>
        <p>{p.data.description}</p>
        <a href={p.data.live} target="_blank">
          Ver libro
        </a>
      </div>
    ))
  }
</Layout>