
<nav class="flex justify-around w-full bg-[var(--color-prymary)] p-4 mb-20 text-lg font-bold rounded-lg">
    <a href="/" class="hover:text-[var(--color-theme-lightBlue)]">About Me</a>
    <a href="/projects" class="hover:text-[var(--color-theme-lightBlue)]">Projects</a>
    <a href="/projects" class="hover:text-[var(--color-theme-lightBlue)]">Education</a>
</nav>