
<nav class="flex justify-around w-full bg-amber-100 p-4 mb-10 rounded-lg">
    <a href="/" class="hover:text-amber-500">About Me</a>
    <a href="/projects" class="hover:text-amber-500">Projects</a>
    <a href="/projects" class="hover:text-amber-500">Education</a>
</nav>