
<nav class="flex justify-around w-full bg-[var(--color-theme-blue)] text-[var(--color-prymary-light)] p-4 mb-20 text-lg font-bold rounded-lg">
    <a href="/" class="hover:text-[var(--color-prymary)]">About Me</a>
    <a href="/projects" class="hover:text-[var(--color-prymary)]">Projects</a>
    <a href="/projects" class="hover:text-[var(--color-prymary)]">Education</a>
</nav>